   <div class=down>
   <br>
    <div class="flex1">


<h2> مرحباً   <%= @user.name %></h2>
<h2>    <%= @user.name %></h2>
<% @user.stickers.each do |s| %>
 <img src=<%=s.image %> >
<% end %>
</div>
</div>