 <div class="flex1">


<% arr=["blue","darkPink","purple","orange","lightBlue","yellow"] %>
<%c=0 %>
<style>
<% @stories.each do |story| %>
<div class="panel <%= arr[c] %>" style=.panel:hover{background-image: url(<%= story.image %>)}>
    <h3> <%= story.title %> </h3>
    <img class="img1" id=<%=story.id%> onclick="image()" src= >
    </div>
<%c+=1 %>
<% end %>
</div>