
<div class=down>
<br>
<br>
<label for="title">Title:</label><input type="text" id="title"><br>
<label for="image">Image URL:</label><input type="text" size="50" id="image"><br>
<label for="time">expected reading time:</label><input type="text" size="50" id="time"><br>
<label for="sticker">sticker:</label><input type="text" size="50" id="sticker"><br>
<label for="body">body: </label><textarea id="body"></textarea><br>
  <input type="radio" id="l1" name="level" value="1" onClick="level()"> 3-6<br>
  <input type="radio" id="l2" name="level" value="2" onClick="level();"> 6-8<br>
  <input type="radio" id="l3" name="level" value="3" onClick="level();"> 8-12<br>  
<div id="questions">


</div>




 



<button id="submit">submit</button>

</div>

