* {
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;

  margin: 0;
  padding-top: 155px;
}
.selected {
  background-color: rgba(15, 199, 55, 0.637);
}
ul > li {
  list-style-type: none;
}
.devise {
  position: absolute;
  right: 10px;
  top: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Baloo Bhaijaan", cursive;
  color: #126d79;
}
.nava {
  position: fixed;
  top: 0;
  left: 0;
  background: #126d79;
  height: 155px;
  padding: 0 10px;
  width: 100%;
  z-index: 10000;
  color: #f8f8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Tajawal", sans-serif;
  /* padding-bottom: 20%; */
}
.nava button {
  margin-left: 1300px;
  background-color: white;
  font-size: 20px;
  font-family: "Tajawal", sans-serif;
}

nav img {
  width: 220px;
  height: 220px;
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -110px;
}

nav a {
  color: #f8f8ff;
  margin-left: 20px;
}
a {
  text-decoration: none;
}

nav ul {
  position: absolute;
  right: 61px;
  top: 60px;
  display: flex;
}
nav ul li a {
  display: inline-block;
  height: 38px;
  padding: 0 20px;
  width: 170px;
  color: #555;
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  /* white-space: nowrap; */
  /* background-color: transparent; */
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  font-size: 15px;
}
.landing-page {
  background-attachment: fixed;
  background-image: url(https://clip2art.com/images/library-clipart-child-book-20.jpg);
  background-size: 25%;
  background-repeat: repeat;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Tajawal", sans-serif;
}

section {
  width: 100%;
  padding: 50px 10%;
}

img {
  width: 550px;
  height: 500px;
  border-radius: 50%;
}

.landing-page button {
  width: 500px;
  background-color: #126d79c9; /* Green */
  border: 2px solid #336886;
  /* opacity: 0.6; */
  cursor: pointer;
  height: 60px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 12px;
  /* position: absolute; */
  font-family: "Tajawal", sans-serif;
}

.landing-page button:hover {
  opacity: 1;
}
.panel {
  width: 300px;
  height: 300px;

  text-align: center;
  width: 300px;
}
.blue {
  background-color: #126d79;
}
.darkPink {
  background-color: rgb(188, 40, 54);
}
.purple {
  background-color: rgb(90, 53, 148);
}
.orange {
  background-color: rgb(231, 103, 40);
}
.lightBlue {
  background-color: rgb(111, 174, 207);
}
.yellow {
  background-color: rgb(238, 241, 11);
}
footer {
  background-color: #126d79;
  /* height: 100px;
  color: white;
  font-size: 30px;
  font-family: "Tajawal", sans-serif;
  width:100%;
  display: fixed; 
  bottom: 0px;
  text-align: center;  */
  color: #faefef;
  margin-top: 10px;
  padding-left: 60px;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}
.down {
  text-align: center;
}
.answer {
  min-width: 200px;
}
.flex h3 {
  font-size: 44px;
}
.panel {
  width: 300px;
  height: 300px;
  /* background-color: rgba(255, 0, 0, 0.2); */
  text-align: center;
  width: 100%;
  position: relative;
}

.panel:hover .bg {
  /* background-image: url(http://fillmurray.com/500/500); */
  opacity: 0;
  /* background-size: cover; */
}
.flex {
  display: flex;
  flex-direction: row-reverse;
}
.flex1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
h2 {
  width: 200px;
}
#story {
  width: 800px;
  margin-left: 21%;
  font-size: 22px;
  font-family: "Tajawal", sans-serif;
  color: #126d79;
}
.field {
  font-size: 25px;
}
.boy {
  width: 64px;
  height: 64px;
}
.panel-link {
  color: black;
  width: 30%;
}

.profileSticker {
  width: 150px;
  height: 150px;
  /* border: solid 20px red; */
  border-radius: 0%;
  margin-top: 20px;
}
.username {
  font-size: 37px;
  text-align: right;
}
#stickers {
  width: 200px;
  height: 200px;
}
h7 {
  color: red;
}
h1 {
  color: #126d79;
}
